/* utilities/animations.css */
.fade {
	transition: opacity 0.3s ease-in-out;
}

.slide-in {
	animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}