:root {
  --color-primary: #6e0e50;
  --color-secondary: #ffe098;
  --color-tertiary: #e28ab7;
  --color-quaternary: #0ec3ad;
  --color-success: #1e7e34;
  --color-danger: #dc3545;
  --color-warning: #ffc647;
  --color-info: #0266d6;
  --color-light: #e9ecef;
  --color-muted: #6c757d;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
}
