:root {
  --transition-base: all 0.2s ease-in-out;
  --shadow-sm-x: 0px;
  --shadow-sm-y: 1px;
  --shadow-sm-blur: 2px;
  --shadow-sm-spread: 0px;
  --shadow-sm-color: rgba(0, 0, 0, 0.05);

  --shadow-md-x: 0px;
  --shadow-md-y: 4px;
  --shadow-md-blur: 6px;
  --shadow-md-spread: 0px;
  --shadow-md-color: rgba(0, 0, 0, 0.1);

  --shadow-lg-x: 0px;
  --shadow-lg-y: 10px;
  --shadow-lg-blur: 15px;
  --shadow-lg-spread: 0px;
  --shadow-lg-color: rgba(0, 0, 0, 0.1);
}
