:root {
  --font-family-base: "Public Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
		roboto, oxygen, ubuntu, cantarell, sans-serif;
  --text-size-sm: 0.875rem;
  --text-size-base: 1rem;
  --text-size-lg: 1.25rem;
  --text-weight-light: 200;
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --line-height-base: 1.5;
}
