:root {
	/* Base font family */
	--font-family-base: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
		roboto, oxygen, ubuntu, cantarell, sans-serif;

	/* Small text size */
	--text-size-sm: 0.875rem;

	/* Base text size */
	--text-size-base: 1rem;

	/* Large text size */
	--text-size-lg: 1.25rem;

	/* Light font weight */
	--text-weight-light: 200;

	/* Base font weight */
	--text-weight-base: 400;

	/* Bold font weight */
	--text-weight-bold: 700;

	/* Base line height */
	--line-height-base: 1.5;
}