/* components/buttons.css */
.btn {
	display: inline-block;
	padding: var(--spacing-2) var(--spacing-3);
	font-size: var(--text-weight-base);
	font-weight: var(--text-weight-base);
	line-height: var(--line-height-base);
	text-align: center;
	text-decoration: none;
	border: var(--border-width) solid transparent;
	border-radius: calc(var(--border-radius) * 2);
	box-shadow: var(--shadow-md);
	transition: var(--transition-base);
	cursor: pointer;
}

.btn-primary {
	background-color: var(--color-primary);
	color: white;
}

.btn-primary:hover {
	color: wheat;
}

.btn-secondary {
	background-color: var(--color-primary-100);
	border-color: var(--color-primary-200);
	color: var(--color-primary);
}

.btn-primary:hover,
.btn-secondary:hover {
	filter: brightness(90%);
	box-shadow: var(--shadow-sm);
}