/* base/breakpoints.css - Design Tokens */

/* Responsive utilities */
@media (min-width: 576px) {
	.sm-hidden {
		display: none;
	}

	.sm-d-block {
		display: block;
	}

	.sm-d-inline {
		display: inline;
	}

	.sm-grid-cols-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.sm-col-span-6 {
		grid-column: span 6 / span 6;
	}
	.container {
		max-width: var(--breakpoint-sm);
	}
}

@media (min-width: 768px) {
	.md-hidden {
		display: none;
	}

	.md-d-block {
		display: block;
	}

	.md-d-inline {
		display: inline;
	}

	.md-grid-cols-1 {
		grid-template-columns: repeat(1, 1fr);
	}

	.md-grid-cols-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.md-grid-cols-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.md-grid-cols-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.md-grid-cols-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.md-grid-cols-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.md-col-span-6 {
		grid-column: span 6 / span 6;
	}
	.container {
		max-width: var(--breakpoint-md);
	}
}

@media (min-width: 992px) {
	.lg-hidden {
		display: none;
	}

	.lg-d-block {
		display: block;
	}

	.lg-d-inline {
		display: inline;
	}

	.lg-grid-cols-1 {
		grid-template-columns: repeat(1, 1fr);
	}

	.lg-grid-cols-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.lg-grid-cols-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.lg-grid-cols-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.lg-grid-cols-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.lg-grid-cols-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.lg-col-span-6 {
		grid-column: span 6 / span 6;
	}
	.container {
		max-width: var(--breakpoint-lg);
	}
}

@media (min-width: 1200px) {
	.xl-hidden {
		display: none;
	}

	.xl-d-block {
		display: block;
	}

	.xl-d-inline {
		display: inline;
	}

	.xl-grid-cols-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.xl-col-span-6 {
		grid-column: span 6 / span 6;
	}
	.container {
		max-width: var(--breakpoint-xl);
	}
}