/* base/settings.css */

/* Default (light theme) */
:root {
	--color-bg: var(--color-light);
	--color-text: var(--color-black);
}

/* Dark theme */
[data-theme="dark"] {
	--color-bg: var(--color-dark);
	--color-text: var(--color-white);

	/* Add dark theme variations */
}

/* Dark theme */

[data-theme="dark"] body,
[data-theme="dark"] footer,
[data-theme="dark"] .card {
	background-color: var(--color-gray-700);
}

[data-theme="dark"] a {
	color: var(--color-primary-300);
}

#theme-toggle {
	border: none;
	border-radius: 50%; /* Makes the button circular */
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	padding: 0; /* Remove padding to ensure proper centering */
	display: flex; /* Use Flexbox */
	align-items: center; /* Center vertically */
	justify-content: center; /* Center horizontally */
	background-color: var(--color-bg); /* Use your theme's background color */
	color: var(--color-text); /* Use your theme's text color */
	font-size: 1.2rem; /* Adjust emoji size */
	transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

[data-theme="dark"] #theme-toggle {
	background-color: var(--color-dark); /* Dark mode background */
	color: var(--color-white); /* Dark mode text color */
}