/* base/typography.css */
body {
	font-family: var(--font-family-base);
	font-size: var(--text-base);
	font-weight: var(--text-base);
	line-height: var(--line-height-base);
	background-color: var(--color-bg);
	color: var(--color-text);
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	color: var(--color-primary-900);
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: var(--spacing-3);
	font-weight: var(--text-bold);
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-bottom: var(--spacing-3);
}

blockquote {
	margin: 0 0 var(--spacing-3);
	padding: var(--spacing-3);
	background-color: var(--color-gray-50);
	border-left: 4px solid var(--color-primary);
}

.text-sm {
	font-size: var(--text-sm);
}

.text-lg {
	font-size: var(--text-lg);
}

.text-light {
	font-weight: var(--text-light);
}

.text-base {
	font-weight: var(--text-base);
}

.text-bold {
	font-weight: var(--text-bold);
}

.text-italic {
	font-style: italic;
}
