.main-menu {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-gap: 1em;
	justify-content: start;
	list-style: none;
	padding: 0;
}

.main-menu a,
.main-menu button {
	background-color: #f1f1f1;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--spacing-2);
	box-shadow: var(--shadow-sm);
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: large;
}

.main-menu button {
	cursor: pointer;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu button:hover,
.main-menu button:focus {
	background: var(--color-white);
	outline: 2px solid var(--color-primary-default);
}

.submenu {
	display: none;
	padding: 0;
}

.submenu a {
	padding: var(--spacing-1);
}

.main-menu li,
.main-menu button {
	position: relative;
	list-style: none;
	min-width: 10rem;
}

.main-menu li:hover .submenu,
.main-menu li:focus-within .submenu {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 100%;
}

.main-menu li:hover .submenu a,
.main-menu li:focus-within .submenu a {
	display: block;
}

/* Hamburger menu styles */
.nav-toggle {
	display: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.nav-toggle {
		display: block;
		justify-self: end;
	}

	.main-menu {
		display: none;
	}

	.main-menu.active {
		display: block;
	}

	.main-menu li,
	.main-menu button {
		display: flex;
		justify-content: flex-end;
		text-align: left;
	}

	.main-menu a,
	.main-menu button {
		padding: var(--spacing-2) var(--spacing-3);
	}

	.main-menu .submenu li {
		top: -.1rem;
		z-index: 100;
		max-width: 50%;
	}
}